.login{
    padding: 20px;
    margin-top: 50px !important;
    background-color:rgb(89, 184, 240) !important;
    width: 600px;
    margin: auto;
    align-items: center;
    border-radius: 30px !important;
    
}
.login input{
    /* margin: auto; */
    text-align: center;
    background-color: rgb(226, 238, 253);
    margin: 10px;
    color: white;
    border-radius: 20px;
}
.login button{
    margin-top: 20px;
 
   
    
}
