Button{
    
    height: 500px;
    width: 50px;
    margin: 5px !important;
    padding: 10px !important;
    font-size: 15px !important;
    margin-top: 50px !important;
}
Button:hover{
    background-color: black !important;
    transform: scale(1.1);
}
h2{
    text-align: center !important;
}